<div class="background-img">
    <form action="/artist-search", method="GET">
        <div class="form">
            <input type="text" name="artist" placeholder="Write an Artist" class="placeholder">
            <button>
                <input class="button" type="submit" value="Search">
            </button>
        </div>
    </form>
</div>