<div class="background-img">

<form action="/artist-search", method="GET">
    {{!-- <label>Write an artist</label> --}}
    <input type="text" name="artist">
    <button>
        <input type="submit" value="Search for an Artist">
    </button>
    
</form>

</div>